.mainContainer {
    width: 100%;
    height: 2.5rem;
    margin-bottom: 1.5rem;

    cursor: pointer;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all ease 0.5s;
}

.mainContainer p {
    color: white;
    transition: all ease 0.5s;
}

.mainContainer:hover p {
    color: rgb(94, 94, 199);
}

.logoContainer {
    width: 40%;

    display: flex;
    justify-content: end;
}

.nameContainer {
    width: 60%;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1.5rem;

    background-color: rgba(134, 30, 30, 0);
}

.icon img {
    width: 100%;
    height: 100%;
}