.mainContainer {
    width: 100%;
    height: 2.5rem;

    cursor: pointer;
    text-decoration: none;

    display: flex;
    align-items: center;

    transition: all ease 0.5s;
}

.mainContainer p {
    font-weight: 500;
    transition: all ease 0.5s;
}

.mainContainer:hover p {
    color: rgb(94, 94, 199);
}

.logoContainer {
    width: 2rem;

    display: flex;
    justify-content: end;
}

.nameContainer {
    width: 60%;
}

.nameContainer > p {
    color: var(--secondary-text-color);
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1.5rem;

    background-color: rgba(134, 30, 30, 0);
}

.icon img {
    width: 100%;
    height: 100%;
}
