#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
    --primary-color: rgb(42, 42, 209);

    --border-color: rgba(128, 128, 128, 0.301);
    --hover-color: rgba(231, 231, 231, 0.308);
    --background-color: rgb(255, 255, 255);
    --secondary-background-color: rgb(255, 255, 255);
    --tertiary-background-color: rgb(224, 224, 224);
    --primary-text-color: #1d1d1d;
    --secondary-text-color: rgb(78, 78, 78);

    --base-font-size: 1rem;
    --small-font-size: 0.9rem;
    --header-font-size: 1.3rem;
    --large-header-font-size: 1.4rem;
    --primary-font: "poppins"
}
